{
  "extends": ["standard"],
  "env": {
    "node": true
  },
  "rules": {
    "no-return-assign": 0,
    "generator-star-spacing": 0,
    "object-curly-spacing": [2, "always"],
    "arrow-parens": [2, "as-needed"],
    "no-debugger": 2,
    "no-alert": 2,
    "comma-dangle": [2, "always-multiline"],
    "prefer-const": ["error", {
      "destructuring": "all",
      "ignoreReadBeforeAssign": false
    }],
    "no-var": 2
  }
}
